<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h2 class="navbar-brand">Setup</h2>
</nav>

<form>
  <fieldset class="card border-light">
    <div class="card-body">
      <ng-container *ngIf="loggedIn; then password">
        <app-login></app-login>
      </ng-container>
     </div>
  </fieldset>
</form>

<ng-template #password>
  <div class="form-group mb-3">
    <label for="file-private">Master Password</label>
    <div class="input-group">
        <input type="password" class="form-control" name="master" #masterPassword>
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary" *ngIf="hasKeys === true" (click)="Login()">Login</button>
          <button type="submit" class="btn btn-primary" *ngIf="hasKeys === false" (click)="Generate()">Generate Key</button>
      </div>
    </div>
  </div>
</ng-template>
