<ng-container [formGroup]="form">
  <div class="col-sm">
    <div class="form-group">
        {{ credential.Domain }}
    </div>
  </div>
  <div class="col-sm">
      <span *ngFor="let tag of credential.Tags">{{ tag }}</span>
  </div>
  <div class="col-sm-auto">
    <div class="btn-toolbar">
      <div class="input-group">
          <button class="btn btn-light" (click)="mode = 'view'" *ngIf="mode == 'blank'"><span class="oi oi-lock-locked"></span></button>
          <button class="btn btn-light" (click)="mode = 'blank'" *ngIf="mode == 'view'"><span class="oi oi-lock-unlocked"></span></button>
          <button class="btn btn-light" (click)="mode = 'edit'" *ngIf="mode != 'edit'"><span class="oi oi-pencil"></span></button>
      </div>
      <div *ngIf="mode == 'edit'" class="input-group ml-2">
          <button class="btn btn-info" (click)="Save();">Save</button>
          <button class="btn btn-light" (click)="mode = 'blank'">Cancel</button>
      </div>
    </div>
  </div>
</ng-container>
