<ng-container #container [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{ $implicit : null }">
</ng-container>

<ng-template #blank>
  <div class="form-group mr-3">********</div>
  <ng-container *ngTemplateOutlet="copy"></ng-container>
</ng-template>

<ng-template #view let-value>
  <div class="form-group mr-3">{{ value }}</div>
  <ng-container *ngTemplateOutlet="copy"></ng-container>
</ng-template>

<ng-template #edit let-value>
  <input class="form-control" #input (blur)="onBlur($event.target.value)" [value]="value">
</ng-template>

<ng-template #copy>
  <div class="input-group">
    <button class="btn btn-light" (click)="clipboard($event.target)"><span class="oi oi-layers"></span></button>
  </div>
</ng-template>
